[package]
name = "goober-bot"
version = "1.0.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.68"
poise = { git = "https://github.com/fgardt/poise.git", branch = "feat/user_apps", version = "0.6.1", features = ["unstable"] }
shuttle-runtime = "0.47.0"
# Since poise is a serenity command framework, it can run on Shuttle with shuttle-serenity
shuttle-serenity = "0.47.0"
tracing = "0.1.37"
tokio = "1.26.0"
serde = { version = "1.0.203", features = ["derive"] }
shuttle-persist-msgpack = { version = "0.47.0", path = "shuttle-persist-msgpack" }
rand = "0.8.5"
chrono = "0.4.38"
paste = "1.0.15"
octocrab = "0.38.0"
serde_json = "1.0.120"
topgg = { version = "1.4.1", features = ["autoposter", "serenity-cached"], git = "https://github.com/valentinegb/topgg-rs.git", branch = "client-debug-impl" }

[workspace]
members = ["shuttle-persist-msgpack"]
