[package]
name = "goober-bot"
version = "1.0.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.95"
buy_me_a_coffee = "0.3.1"
charts-rs = { version = "0.3.19", features = ["image-encoder"] }
chrono = "0.4.39"
commit-history = { version = "0.1.0", path = "commit-history" }
opendal = { version = "0.51.1", default-features = false }
paste = "1.0.15"
poise = { git = "https://github.com/serenity-rs/poise.git", rev = "80a3a9c3ca1629725f0fa4ec98372d39cf36f6b6", version = "0.6.1" }
rand = "0.8.5"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.135"
shuttle-runtime = { version = "0.51.0", default-features = false }
shuttle-serenity = "0.51.0"
shuttle-shared-db = { version = "0.51.0", features = ["opendal-postgres"] }
tokio = "1.43.0"
topgg = { version = "1.4.2", features = [ "autoposter", "serenity-cached" ] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }

[workspace]
members = ["commit-history"]
