[package]
name = "goober-bot"
version = "1.0.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.95"
poise = { git = "https://github.com/fgardt/poise.git", branch = "feat/user_apps", version = "0.6.1", features = [ "unstable" ] }
shuttle-runtime = "0.51.0"
# Since poise is a serenity command framework, it can run on Shuttle with shuttle-serenity
shuttle-serenity = "0.51.0"
tracing = "0.1.41"
tokio = "1.42.0"
serde = { version = "1.0.217", features = ["derive"] }
shuttle-persist-msgpack = { version = "0.51.0", path = "shuttle-persist-msgpack" }
rand = "0.8.5"
chrono = "0.4.39"
paste = "1.0.15"
serde_json = "1.0.134"
topgg = { version = "1.4.2", features = [ "autoposter", "serenity-cached" ], git = "https://github.com/Top-gg-Community/rust-sdk.git" }
commit-history = { version = "0.1.0", path = "commit-history" }
charts-rs = { version = "0.3.19", features = ["image-encoder"] }
buy_me_a_coffee = "0.3.1"
shuttle-shared-db = { version = "0.51.0", features = ["opendal-postgres"] }
opendal = { version = "0.51.0", default-features = false }

[workspace]
members = ["commit-history", "shuttle-persist-msgpack"]
